<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{task.form}"></title>
</head>
<body>
<form method="post" th:action="@{/tasks/new}">
    <h1 th:text="#{add.task}"></h1>
    <div th:insert="nav.html"></div>

    <div>
        <label for="title" th:text="#{title}"></label>
        <input type="text" name="title" id="title">
    </div>
    <div>
        <label for="description" th:text="#{description}"></label>
        <input type="text" name="description" id="description">
    </div>
    <div>
        <label for="localDateTime" th:text="#{date}"></label>
        <input type="datetime-local" name="localDateTime" id="localDateTime">
    </div>
    <input type="submit" value="Send">
</form>

</form>
</body>
</html>
