<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{tasks}"></title>
</head>
<body>
<h1 th:text="#{tasks}"></h1>
<div th:insert="nav.html"></div>

<div th:if="${tasks.empty}">
    <p th:text="#{nt}"></p>
</div>
<table th:if="${!tasks.empty}">
    <tr>
        <th th:text="#{task}"></th>
        <th th:text="#{date}"></th>
    </tr>

    <tr th:each="task: ${tasks}">
        <td th:text="${task.title}"></td>
        <td th:text="${task.localDateTimeText}"></td>
    </tr>

</table>
</body>
</html>
