<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{details}"></title>
</head>
<body>
<h1 th:text="#{details}"></h1>
<div th:insert="nav.html"></div>

<div th:if="${task == null}">
    <p th:text="#{nf}"></p>
</div>

<div th:if="${task != null}">
    <h3 th:text="#{title}"></h3>
    <p th:text="${task.title}"></p>
    <h3 th:text="#{description}"></h3>
    <p th:text="${task.description}"></p>
    <h3 th:text="#{date}"></h3>
    <p th:text="${task.localDateTimeText}"></p>
</div>

<table th:if="${!subtasks.empty && subtasks != null}">
    <h2 th:text="#{sub.details}"></h2>
    <tr>
        <th th:text="#{title}"></th>
        <th th:text="#{description}"></th>
    </tr>

    <tr th:each="subtask: ${subtasks}">
        <td th:text="${subtask.title}"></td>
        <td th:text="${subtask.description}"></td>
    </tr>

</table>
</body>
</html>
